.template_container{
    width: 290px;
    border-radius: 15px;
    box-shadow: 3px 10px 15px grey;
    margin: 20px 0px;
}
.img_container{
    height: 250px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.img_container img{
    border-radius: 50%;
    width: auto;
    height: 180px;
    margin-bottom: 30px;
}
.details_content{
    display: flex;
    justify-content: space-between;
}
.item_name{
    font-size: 20px;
    margin: 0px 10px;
}
.price{
    color: #30748A;
    margin: 0px 10px;
}
.add{
    border: none;
    font-size: 40px;
    color: white;
    background-color:#30748A;
    padding: 10px 20px;
    border-radius: 15px 0px 15px 0px;
    position: relative;
}

/*hot deals*/
.hot_deals_container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.hot_template_container{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 3px 10px 15px grey;
    margin: 20px 0px;
    background-color: #30748A;
}
.hot_img_container{
    width: max-content;
    margin-left: auto;
}
.hot_img_container img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 100px;
    position: relative;
    top: -40px;
}
.hot_details_content{
    display: flex;
    justify-content: space-between;
}
.content_details{
    position: relative;
    top: -50px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.hot_item_name{
    color: white;
    font-size: 40px;
    float: left;
    margin: 0px 5vw;
}
.hot_price{
    color: white;
    margin: 0px 5vw;
    font-size: 35px;
    float: left;
}
.itemoftheday{
    float: left;
    color: white;
    margin: 0px 5vw;
    font-size: 55px;
}
.hot_add{
    border: none;
    font-size: 40px;
    color:#30748A;
    background-color:white;
    padding: 10px 20px;
    border-radius: 15px 0px 15px 0px;
    position: relative;
    
}

.all_items_container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.catogary_sel{
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.089);
    background-color: white;
    color: #30748A;
    margin: 20px;
}
.catogary_sel1{
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(128, 128, 128, 0.089);
    background-color:#30748A;
    color: white;
    margin: 20px;
}
.catogary_buttons{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}